<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inventory Form</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
	</head>
	<body>
		<div class="container">
			<form id="inventoryForm" method="POST" action="/api/inventory">
				<h2>Inventory Form</h2>

				<div class="form-group">
					<label for="Item_Holder">Item Holder</label>
					<input type="text" class="form-control" id="Item_Holder" name="Item_Holder" value="<%= inventory ? inventory.Item_Holder : '' %>" />
				</div>

				<% ['Computer_1', 'Computer_2', 'Computer_3'].forEach(function(computer) { %>
				<div class="card">
					<div class="card-header">
						<h3 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#<%= computer %>"><%= computer %></button>
						</h3>
					</div>

					<div id="<%= computer %>" class="collapse">
						<div class="card-body">
							<input type="checkbox" name="<%= computer %>IsUsed" value="true" <%= inventory && inventory[computer] && inventory[computer].IsUsed ? '' : '' %>> Is Used<br />
							<input type="text" name="<%= computer %>Vendor" value="<%= inventory && inventory[computer] ? inventory[computer].Vendor : '' %>" /> Vendor<br />
							<input type="text" name="<%= computer %>Brand" value="<%= inventory && inventory[computer] ? inventory[computer].Brand : '' %>" /> Brand<br />
							<input type="number" name="<%= computer %>Price" value="<%= inventory && inventory[computer] ? inventory[computer].Price : 0 %>" /> Price ($) <br />
							<input type="date" name="<%= computer %>DatesPurchased" value="<%= inventory && inventory[computer] && inventory[computer].Dates ? inventory[computer].Dates.Purchased : '' %>" /> Purchased Date<br />
							<input type="date" name="<%= computer %>DatesWarranty_End" value="<%= inventory && inventory[computer] && inventory[computer].Dates ? inventory[computer].Dates.Warranty_End : '' %>" /> Warranty End Date<br />
							<input type="text" name="<%= computer %>Model" value="<%= inventory && inventory[computer] ? inventory[computer].Model : '' %>" /> Model<br />
							<input type="text" name="<%= computer %>Serial_Number" value="<%= inventory && inventory[computer] ? inventory[computer].Serial_Number : '' %>" /> Serial Number<br />
							<input type="text" name="<%= computer %>Asset_ID" value="<%= inventory && inventory[computer] ? inventory[computer].Asset_ID : '' %>" /> Asset ID<br />
							<input type="text" name="<%= computer %>PC_ID" value="<%= inventory && inventory[computer] ? inventory[computer].PC_ID : '' %>" /> PC ID<br />

							<h4>CPU</h4>
							<input type="text" name="<%= computer %>CPUModel" value="<%= inventory && inventory[computer] && inventory[computer].CPU ? inventory[computer].CPU.Model : '' %>" /> Model<br />
							<input type="number" name="<%= computer %>CPUSpeed" value="<%= inventory && inventory[computer] && inventory[computer].CPU ? inventory[computer].CPU.Speed : 0 %>" /> Speed (Mhz)<br />

							<h4>RAM</h4>
							<input type="number" name="<%= computer %>RAMSize" value="<%= inventory && inventory[computer] && inventory[computer].RAM ? inventory[computer].RAM.Size : 0 %>" /> Size<br />
							<input type="text" name="<%= computer %>RAMType" value="<%= inventory && inventory[computer] && inventory[computer].RAM ? inventory[computer].RAM.Type : '' %>" /> Type<br />
							<input type="number" name="<%= computer %>RAMSpeed" value="<%= inventory && inventory[computer] && inventory[computer].RAM ? inventory[computer].RAM.Speed : 0 %>" /> Speed<br />

							<h4>Storage</h4>
							<input type="text" name="<%= computer %>StorageDisk_1Type" value="<%= inventory && inventory[computer] && inventory[computer].Storage && inventory[computer].Storage.Disk_1 ? inventory[computer].Storage.Disk_1.Type : '' %>" /> Disk 1 Type<br />
							<input type="number" name="<%= computer %>StorageDisk_1Size" value="<%= inventory && inventory[computer] && inventory[computer].Storage && inventory[computer].Storage.Disk_1 ? inventory[computer].Storage.Disk_1.Size : 0 %>" /> Disk 1 Size<br />

							<input type="text" name="<%= computer %>StorageDisk_2Type" value="<%= inventory && inventory[computer] && inventory[computer].Storage && inventory[computer].Storage.Disk_2 ? inventory[computer].Storage.Disk_2.Type : '' %>" /> Disk 2 Type<br />
							<input type="number" name="<%= computer %>StorageDisk_2Size" value="<%= inventory && inventory[computer] && inventory[computer].Storage && inventory[computer].Storage.Disk_2 ? inventory[computer].Storage.Disk_2.Size : 0 %>" /> Disk 2 Size<br />

							<input type="text" name="<%= computer %>StorageDisk_3Type" value="<%= inventory && inventory[computer] && inventory[computer].Storage && inventory[computer].Storage.Disk_3 ? inventory[computer].Storage.Disk_3.Type : '' %>" /> Disk 3 Type<br />
							<input type="number" name="<%= computer %>Storage]isk_3Size" value="<%= inventory && inventory[computer] && inventory[computer].Storage && inventory[computer].Storage.Disk_3 ? inventory[computer].Storage.Disk_3.Size : 0 %>" /> Disk 3 Size<br />

							<input type="text" name="<%= computer %>StorageDisk_4Type" value="<%= inventory && inventory[computer] && inventory[computer].Storage && inventory[computer].Storage.Disk_3 ? inventory[computer].Storage.Disk_3.Type : '' %>" /> Disk 3 Type<br />
							<input type="number" name="<%= computer %>StorageDisk_4Size" value="<%= inventory && inventory[computer] && inventory[computer].Storage && inventory[computer].Storage.Disk_3 ? inventory[computer].Storage.Disk_3.Size : 0 %>" /> Disk 3 Size<br />

							<input type="checkbox" name="<%= computer %>Optical_Drive" value="true" <%= inventory && inventory[computer] && inventory[computer].Optical_Drive ? '' : '' %>> Optical Drive<br />

							<h4>OS</h4>
							<input type="checkbox" name="<%= computer %>OS]reloaded" value="true" <%= inventory && inventory[computer] && inventory[computer].OS ? inventory[computer].OS.Preloaded ? '' : '' : '' %>> Preloaded<br />
							<input type="text" name="<%= computer %>OSPlatform" value="<%= inventory && inventory[computer] && inventory[computer].OS ? inventory[computer].OS.Platform : '' %>" /> Platform<br />
							<input type="text" name="<%= computer %>OSVersion" value="<%= inventory && inventory[computer] && inventory[computer].OS ? inventory[computer].OS.Version : '' %>" /> Version<br />

							<input type="text" name="<%= computer %>Hostname" value="<%= inventory && inventory[computer] ? inventory[computer].Hostname : '' %>" /> Hostname<br />
							<input type="text" name="<%= computer %>Remarks" value="<%= inventory && inventory[computer] ? inventory[computer].Remarks : '' %>" /> Remarks<br />
						</div>
					</div>
				</div>
				<% }); %> 
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>

		<!-- Bootstrap JS and jQuery -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

		<script>
			// document.getElementById("inventoryForm").addEventListener("submit", function (event) {
			// 	event.preventDefault();

			// 	var formData = new FormData(this);
			// 	var jsonData = {};

			// 	for (var pair of formData.entries()) {
			// 		var key = pair[0].split("[");
			// 		var value = pair[1];

			// 		var obj = jsonData;
			// 		for (var i = 0; i < key.length; i++) {
			// 			var k = key[i].replace("]", "");

			// 			if (i === key.length - 1) {
			// 				obj[k] = value;
			// 			} else {
			// 				if (!obj[k]) {
			// 					obj[k] = {};
			// 				}
			// 				obj = obj[k];
			// 			}
			// 		}
			// 	}

			// 	fetch(this.action, {
			// 		method: this.method,
			// 		body: JSON.stringify(jsonData),
			// 		headers: {
			// 			"Content-Type": "application/json",
			// 		},
			// 	})
			// 		.then(function (response) {
			// 			if (response.ok) {
			// 				return response.json();
			// 			} else {
			// 				throw new Error("Failed to submit form");
			// 			}
			// 		})
			// 		.then(function (data) {
			// 			console.log(data);
			// 		})
			// 		.catch(function (error) {
			// 			console.error(error);
			// 		});
			// });
		</script>
	</body>
</html>
